
<main class="container" style="margin-top: 10px;">
  <mat-card class="login-card" fxFlex="100%" fxFlex.gt-xs="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Login</mat-card-title>

    <form ngForm #loginFormInstance="ngForm" fxLayout="column" (ngSubmit)="login(loginFormInstance)">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" ngModel name="username" required minlength="3">
        <mat-error>Your username must be no less than 3 characters long</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password"  ngModel name="password"  required>
        <mat-error>Your password is required</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginFormInstance.invalid">Login</button>

        <button mat-raised-button color="primary" type="submit" routerLink="/register">Register</button>&nbsp;
      </div>
    </form>
  </mat-card>
</main>

