.login-card {
  padding: 20px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mat-mdc-text-field-wrapper.mdc-text-field {
  padding-left: 0;
}

div {
  display: flex;
  justify-content: space-between;
}
